@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {

  --font-poppins: Poppins;
  --font-roboto-slab: "Roboto Slab";

  --font-size-mini: 15px;
  --font-size-16xl: 35px;
  --font-size-3xl: 22px;
  --font-size-lgi: 19px;
  --font-size-3xs: 10px;
  --font-size-10xl: 29px;
  --font-size-smi: 13px;
  --font-size-xl: 20px;
  --font-size-mid: 17px;


  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: rgba(255, 255, 255, 0.7);
  --color-gray-300: rgba(255, 253, 253, 0.4);
  --color-gray-200: rgba(0, 0, 0, 0.59);
  --color-steelblue: #1392ba;
  --color-gainsboro: rgba(217, 217, 217, 0.59);


  --br-2xl: 21px;
  --br-sm: 14px;
  --br-7xl: 26px;
  --br-smi: 13px;
  --br-8xs: 5px;
}
